/* Style for Tweet analysis display */

.isFake {
    background-color: #eee;
    position: relative;
    display: inline-block;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 1rem;
}

    .isFake h4 {
        font-size: 16px;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .isFake p {
        font-size: 50px;
    }

    .isFake .marker {
        position: relative;
        left: 22px;
        width: calc(100% - 68px);
    }

        .isFake .marker > div {
            transition: 0.3s ease-in-out;
            position: absolute;
            margin-left: -30px;
            text-align: center;
        }

            .isFake .marker > div > div {
                font-size: 50px;
                line-height: 20px;
                color: green;
            }

            .isFake .marker > div label {
                font-size: 30px;
                color: gray;
            }
